@import url('https://fonts.googleapis.com/css?family=ABeeZee&display=swap');

html,body,p,a{
  font-family: 'ABeeZee', sans-serif;
}
.footer-links{
  padding-left: 0px;
}
.footer-links li{
  list-style: none;
  text-align: left;
  margin: 13px 0px;
}
.footer-links li a{
  color: white;
  text-decoration: none;
}